@font-face {
  font-family: "Ownglyph_wiseelist-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2")
    format("woff2");
  /* font-weight: normal;
    font-style: normal; */
}

@font-face {
  font-family: "LeeSeoyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Ownglyph_wiseelist-Rg";
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "LeeSeoyun";
}

#box p {
  white-space: pre-wrap;
}
